body {
    font-family: 'Baloo Tamma', cursive;
    background-color: #edc7ed;
    width: 80%;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

main {
    background-color: #89A25B;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}

h3 {
    padding: 0 10px;
}

h4 {
    padding: 0 25px;
    font-size: 20px;
}

.userImage {
    display: flex;
    justify-content: center;
}

.userOneImage {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png');
    background-size: cover;
    width: 60px;
    height: 50px;
    border: 2px solid;
}

.userTwoImage {
    background-image: url('goldstar.png');
    background-size: cover;
    width: 60px;
    height: 50px;
    border: 2px solid;
}

.userScore {
    display: flex;
    margin-left: 50%;
}

.line1, .line2, .line3 {
    display: flex;
    justify-content: center;
    
}
.line1 div, .line2 div, .line3 div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 60px;
    background-color: white;
}

.userOneChanged {
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png');
    background-repeat: no-repeat;
}

.userTwoChanged {
    background-size: cover;
    background-image: url('https://cdn5.vectorstock.com/i/1000x1000/54/04/glitter-gold-star-isolated-on-white-backgro-vector-22835404.jpg');
    background-repeat: no-repeat;
}

.hidden {
    display: none;
    position: absolute;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 3% 0;
}

.playButton {
    width: 100px;
    height: 25px;
    background-color: coral;
    border-radius: 20px;
    margin: 0 20px;
}

.resetButton {
    width: 100px;
    height: 25px;
    background-color: coral;
    border-radius: 20px;
    margin: 0 20px;
}